{% extends 'base.html' %}
{% load static %}
{% block title %}Flights routes{% endblock %}


{% block content %}
    <div class="pagination-adjust-form">
        <form id="form1" method="post">
            {% csrf_token %}
            <div class="input-field">
                Enter paginataion limit:
                <p></p>
                <label>
                    <input type="number" value="3" name="limit" type="number" onkeypress="return event.charCode >= 48"
                           min="1">
                </label>
            </div>
            <br/>
        </form>
        <button type="submit" form="form1" value="Submit">Submit</button>
    </div>

    <table>
        <tr>
            <th>#</th>

            <th>plane_id</th>

            <th>date</th>

            <th>name</th>

            <th>update</th>
        </tr>

        {% for object in flights %}
            <tr>
                <td>{{ object.pk }}</td>

                <td>{{ object.plane_id }}</td>

                <td>{{ object.date }}</td>

                <td>{{ object.name }}</td>

                <td style="text-align: right">
                    <a href="{% url 'view_route_page' object.id %}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>



    {% if flights.has_other_pages %}
        <div class="paginator-div">
            <ul class="pagination">
                {% if flights.has_previous %}
                    <li><a href="?page={{ flights.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in flights.paginator.page_range %}
                    {% if flights.number == i %}
                        <li class="active">{{ i }} <span class="sr-only">(current)</span></li>
                    {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if flights.has_next %}
                    <li><a href="?page={{ flights.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled">&raquo;</li>
                {% endif %}
            </ul>
        </div>

    {% endif %}

{% endblock %}